var str = '<h3><%= @comment.user.email %></h3><ul><li><%= @comment.content %></li></ul><%= link_to('Delete', comment_path(@comment), method: :delete, class: 'btn btn-outline-primary' ) %>'

var temp = document.createElement('div');
temp.innerHTML = str;

document.getElementById('comments').prepend(temp);
