<div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
   <h1>Create post</h1>
   <%= form_for @post, url: posts_path do |f| %>
     <div class='form-group'>
       <%= f.label :title %>
       </br>
       <%= f.text_field :title, class: 'form-control' %>
     </div>
     <div class='form-group'>
       <%= f.label :content %>
       </br>
       <%= f.text_area :content, class: 'form-control' %>
     </div>
     <div class='form-group'>
       <%= f.label :tags %>
       </br>
       <%= f.text_field :tags, class: 'form-control', value: '' %>
     </div>
     </br>
     <%= f.submit 'Create post', class: 'btn btn-primary' %>
   <% end %>
 </div>
</div>
