<h1> welcom to my post: <%= @post.content %></h1>

<div class="media">
  <img class="mr-3" src="http://data:image/svg+xml;charset=UTF-8" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"><%= @post.user.email %></h5>
    <p><%= @post.title %></p>
    <p><%= @post.content %></p>
  </div>
</div>

<%= form_for @comment, remote: true do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <div class='form-group'>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <%= f.submit 'Comment', class: 'btn btn-primary' %>
<% end %>

<div id = "comments">
<% @post.comments.each do |comment| %>
  <div class='comment'>
    <div class="media">
    <div class="media-body">
      <h3><%=comment.user.email%></h3>
      <p><%= comment.content%></p>
      <% if comment.user.id == current_user.id %>
       <%= link_to('Delete', comment_path(comment), method: :delete, class: 'btn btn-outline-primary' ) %>
     <% end %>
    </div>
  </div>
</div>

<% end %>
</div>
