<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in?%>
      <li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/"><%= current_user.email%> <span class="sr-only">(current)</span></a>
      </li>
      <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete,data: {confirm: 'Are you sure?'} %>
        </li>
        <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class='nav-item'>
            <%= link_to 'Login', new_user_session_path, class: 'nav-link'  %>
        </li>
        <li class='nav-item'>
            <%= link_to 'sign up', new_user_registration_path,class: 'nav-link'  %>
        </li>
      <% end%>
    </ul>
  </div>
</nav>
